DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_URL="file:./dev.db"
MOD_LOG_CHANNEL_ID=
DASHBOARD_ENABLED=true
DASHBOARD_PORT=3000
DASHBOARD_ADMIN_TOKEN=
DUCKDNS_DOMAIN=
DUCKDNS_TOKEN=
